
.formulario{
    padding: 25px;
}

.compra{
    padding:8px;
    text-align:start ;
    width: 290px;
    height: 55px;
}

.tilde{
    position: absolute;
    margin-left: 20px;
    font-weight: bold;
    align-items: center;
}

.alineado{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.aviso{
    box-shadow: 5px 3px 27px black;
}

.seguir{
    margin-top: 20px;
}

