*{
    margin:0;
    padding:0;
}

nav{
    top: 0;
    position: sticky;
    z-index: 7;
}

.alineacion {
    
    display: flex;
    justify-content: space-between;
}

.alinearlinks{
    display: flex;
}

@media (max-width: 500px){
.logo{
    display:none;
}
.search{
    display:none;
}
}